
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
ul{

    margin-left: 573px;
    margin-top: 44px;
}

body {
    background-color: rgb(245, 244, 238);
}