
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


body {
    background-color: rgb(245, 244, 238);
}

.btn{

    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

li:hover .btn{
    color:  rgb(156, 128, 128);

    
}

.list-group-item{
    color: rgb(109, 109, 109);
    font-size: 30px;
    height: 60px;
    padding-left: 4.5rem !important;
    font-family: 'Lato', sans-serif;

}

#aviso{

    color: rgb(0, 0, 0);
    font-size: 12px;
    height: 34px;
    padding-left: 1.5rem !important;
    font-family: 'Lato', sans-serif;
    
}


h1{
    
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 115px;
    opacity: 50%;
    color: rgb(156, 128, 128);
}

input{
    font-family: 'Lato', sans-serif;
    height: 60px;
    font-size: 30px;
    padding-left: 4.5rem;
    color: rgb(109, 109, 109);
    border-color: rgb(245, 244, 238);

}